.Contact_page{
}
.contact_section{
    width: 100%;
    padding: 5rem 0;
}
.contact_sector{
    width: 100%;
    min-height: 10rem;
    background-color: aquamarine;
    display: flex;
}
.ask_section{
    width: 100%;
    background-size: cover;
}