@import '../../../styles//globals.scss';

@keyframes slide {
    from {
        width: 50%
    }

    to {
        width: 100%
    }
}

.header {
    background-color: #0e0e0ebf;
    padding: 20px 0;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    max-width: 1640px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    margin-right: 28px;
    position: relative;
    @include hover-effect
}

.header__item__link {
    line-height: 20px;
    letter-spacing: 0em;
    color: #FFFFFF;
    font-size: 1.6rem;
    background: transparent;
    border: none;
    cursor: pointer;
   
}


.header__search__button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    background: url(../../../img/lupa.svg) no-repeat center center;

}

.header__manage {
    display: flex;
    align-items: center;
}

.header__shop__button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

@media only screen and (max-width:1155px) {
    .header__item {
        margin-right: 18px;
    }
    .header__item__link{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:870px) {
    .header__item {
        margin-right: 18px;
    }

    .header__search__button {
        width: 30px;
        height: 30px;
    }

    .header__nav {
        display: none;
    }

    .header__manage {
        width: 150px;
        justify-content: space-between;
    }
    .header__logo{
        width:100px;

        height: 40px;
    }
}