@import '../../../styles//globals.scss';

@keyframes slide {
    from {
        width: 50%
    }

    to {
        width: 100%
    }
}
@keyframes dropdown{
    0%{
        top: 0px;
    }
    100%{
        top: 20px;
    }
 }

.header {
    background-color: rgba(14, 14, 14, 0.749) ;
    padding: 1rem 0;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    max-width: 1640px;
  &::after{
    width: 100%;
    height: 100%;
    content: '';
    backdrop-filter:blur(5px);
    z-index: -1;
    position: absolute;
    top: 0;
  }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
}
.header__dropdown{
    display:none;
}
.header__list {
    display: flex;
}

.header__item {
    margin-right: 5rem;
    min-width: 8rem;
    position: relative;
    padding-bottom: 0.5rem;
    
    
}

.header__item-link {
    line-height: 20px;
    letter-spacing: 0em;
    color: #FFFFFF;
    font-size: 1.6rem;
    background: transparent;
    border: none;
    cursor: pointer;
    @include hover-effect;
  
}


.header__search-button {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background: url(../../../img/lupa.svg) no-repeat center center;

}

.header__manage {
    display: flex;
    align-items: center;
}
.header__dropdown{
    display: none;
}
.header__item:hover{
     .header__dropdown{
    display: block;
    position: absolute;
    animation-name: dropdown;
    animation-duration: 400ms;
     }
}

@media only screen and (max-width:1155px) {
    .header__item {
        margin-right: 18px;
    }
    .header__item__link{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:870px) {
    .header{
        padding: 1rem 0;
    }
    .header__item {
        margin-right: 18px;
    }

    .header__search__button {
        width: 30px;
        height: 30px;
    }

    .header__nav {
        display: none;
    }
   .header__search-button{
    margin-right: 20px;
   }
    
   
}