.left{
    width: 25%;
    color: var(--color-white);
}
.filter_comp{
    width: 100%;
    background-color: var(--color-brand--2);
    .btn_sector{
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
    }
    .input_sector{
        width: 100%;
        display: flex;
        justify-content: space-between;
        input{
            width: 114px;
            height: 36px;
            border: 2px solid var(--color-brand--2);
            padding: 0px 5px;
            outline: none;
        }
    }
    .price_range{
        width: 100%;
        position: relative;
    }
    .status_sector{
        width: 100%;
        padding: 1rem;
        .sector{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            .checkbox{
                width: 2rem;
                height: 2rem;
            }
            p{
                margin-left: 1rem;
            }
        }
    }
    .footer_des{
        padding: 1rem;
        background-color: var(--color-brand--1);
    }
}