@keyframes hamburger{
    0%{
        left: -100%;
    }
    100%{
        left: 1%;
    }
}
@keyframes hamburger-close{
    0%{
        left: 0;
    }
    100%{
        left: -100%;
    }
}
@keyframes hamburger-button-active{
   0%{
    transform: rotate(45deg);
   }
    100%{
        transform: rotate(90deg);
    }
}
@keyframes dropdown{
    0%{
        top: 0px;
    }
    100%{
        top: 30px;
    }
 }

.hamburger{
    display: block;
    position: fixed;
    background-color: rgb(14, 14, 14,0.75);
    top: 82px;
    left: 0;
    width: 40%;
    height: 100vh;
    z-index: 9;
    animation-name: hamburger;
    animation-duration: 800ms;
}
.hamburger--close{
    position: fixed;
    background-color: rgb(14, 14, 14,0.75);
    top: 82px;
    left: -100%;
    width: 40%;
    height: 100vh;
    animation-name: hamburger-close;
    animation-duration: 1000ms;
    //display: none;
}
.hamburger__button , .hamburger__close-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background: url(../../img/hamb.svg) no-repeat center center;
    background-size: contain;
}
.hamburger__close-button{
    background: url(../../img//close.svg) no-repeat center center;
    background-size: contain;
}
.hamburger__list{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
}
.hamburger__item{
    position: relative;
    margin: 30px;
    margin-bottom: 0;
    display: flex;

}
.hamburger__item-dropbutton{
    cursor: pointer;
    position: absolute;
    width: 20px;
    display: block;
    height: 20px;
    content: '';
    right: 10px;
    appearance: none;
    background: url(../../img/strelka.svg);
}
.hamburger__item-dropbutton--disabled{
    cursor: pointer;
    position: absolute;
    width: 20px;
    display: block;
    height: 20px;
    content: '';
    right: 10px;
    appearance: none;
}
.hamburger__item-dropbutton:checked + .dropdown__list{
    display: block;
}
.hamburger__item-dropbutton:checked{
    animation-name: hamburger-button-active;
    animation-duration: 500ms;
    transform: rotate(90deg);
}
.dropdown__list {
    position: absolute;
    display: none;
    top: 30px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.85);
    min-width: 288px;
    padding: 10px 0px;
    animation-name: dropdown;
    animation-duration: 400ms;
    &::after {
        position: absolute;
        width: 94px;
        height: 4px;
        left: 0;
        background: #C53720;
        content: '';
        top: -5px;
    }
}
.hamburger__link{
    line-height: 20px;
    letter-spacing: 0em;
    color: #FFFFFF;
    font-size: 1.6rem;
    background: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  
}
.hamburger__wrapper{
    display: none;
}
.hamburger__gradient{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 82px;
    background-color: rgb(14, 14, 14);
    opacity: 0.4;
    left: 0;
}
.hamburger__button-wrapper{
    text-align: center;
}
@media only screen and (max-width:870px){
    .hamburger__wrapper{
        display: block;
    }
}
@media only screen and (max-width:710px){
.hamburger{
    width: 55%;
}
}
@media only screen and (max-width:500px){
    .hamburger__item{
        margin: 20px;
        margin-bottom: 0;
    }
    .hamburger__link{
        font-size: 1.3rem;
    }
    .hamburger__list{
        padding-left:2rem ;
    }
   
}