.product__item {
    border: 1px solid rgba(29, 29, 29, 0.5);
    max-width: 264px;
}

.product__text-wrapper {
    padding: 19px 11px;
    background-color: rgba(29, 29, 29, 1);
    color: #fff;
}

.product__item-text {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.product__item-date {
    font-size: 1.2rem;
    font-weight: 800;
   
}

.product__item-status {
    font-size: 1.2rem;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: rgba(60, 192, 81, 0.7);
}
.product__item-status-wrapper{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 2rem 0;
}
@media only screen and (max-width:320px){
    .product__item{
        max-width: 180px;
        .product__item-img{
            width: 100%;
        }
    }
}