.slick-next { 
  right: 0;
}
.slick-prev {
  left: 0;
  transform: rotate(180deg);
  transform-origin: 43% 21%;
  
}
.slick-next,
.slick-prev {
  &::before {
    display: none;
  }
}
.slick-arrow {
  width: 42px;
  height: 42px;
  background: url(../img/partnext.png) no-repeat center center !important;
  background-size: cover !important;
  z-index: 80;
}
.slick-disabled {
  opacity: 0.5;
}

.slick-track {
  display: flex;
  align-items: center;
}
.slick-list {
  max-width: 88%;
  margin: 0 auto;
  position: relative;
}
.slick-slider{
  display: flex;
}
.slick-initialized{
  //position: relative;
  display: flex;
  //align-items: center;
}
// spiper js

.swiper-pagination-bullet {
  width: 11.2rem;
  height: 4px;
  border-radius: 0;
  opacity: 1;
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-brand--1);
}

.swiper-pagination {
  margin-bottom: 8.4rem;
  margin-top: 100px;
}
.swiper-slide{
 
  max-height: 700px;
  padding: 0;
 
}
.slick-slide{
  text-align: center;
 
}
@media only screen and (max-width:700px){
.slick-list{
  width: 80%;
}
}
@media only screen and (max-width:500px){
  .slick-list{
    width: 75%;
  }
  .swiper-pagination-bullet{
    width: 75px;
  }
}
