.title{
font-size: 36px;
line-height: 45px;
letter-spacing: 0em;
text-align: center;
text-transform: uppercase;
border-bottom: 4px solid  #C53720;


// margin:  0 auto;
// &::after{
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     background: #C53720;
//     content:  '';
//     bottom: -10px;
//     left: 0;
// }   
 }
 .text{
    width: 892px;
font-size: 24px;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
margin:  0 auto;
margin-top: 30px;
 }