.title {
  h1 {
    color: var(--color-brand--2);
    text-align: center;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    max-width: 800px;
    margin: 0 auto;
  }

  .line {
    width: 55%;
    height: 4px;
    margin: 0 auto;
    background-color: var(--color-brand--1);
    margin-top: 0.8rem;
  }
}
