.services {
    background: url(../../../img/servbg.png) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.services__gradient {
    background: url(../../../img/servgr.png) no-repeat center center;
    background-size: cover;
    padding: 70px 0px;
}

.services__list {
    margin-top: 70px;
    background: url(../../../img/servicebg.png) no-repeat center right;
    position: relative;
    &::after{
        position: absolute;
        width: 146px;
        height: 146px;
        content: '';
        background: url(../../../img/servaft.png) no-repeat center center;
        right:30%;
        bottom: 30px;
    }
    &::before{
        position: absolute;
        width: 166px;
        height: 166px;
        content: '';
        background: url(../../../img/servbef.png) no-repeat center center;
        background-size: contain;
        right:-80px;
        bottom: 40px;

    }
}

.services__item {
    padding: 40px;
    padding-left: 200px;
    position: relative;

    &:first-child {
        background: url(../../../img/servitem.png) no-repeat;
    }
    &::after{
        width: 124px;
        height: 120px;
        position: absolute;
        content: '';
        background: url(../../../img/servitembefbg.png);
        top: 40px;
        left: 50px;
    }
    &::before{
        width: 78px;
        height: 92px;
        position: absolute;
        content: '';
        background: url(../../../img/adv2.png);
        left: 70px;
        top: 50px;
        z-index: 1;
    }
}

.services__item__title {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    width: 286px;
    margin-bottom: 12px;
}

.services__item__text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    width: 352px;

}