@mixin filter-button{
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  border: none;
  background: transparent;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  padding: 1.2rem;
  position: relative;
  border-bottom: 1px solid rgb(29, 29, 29);
  &:hover{
      background-color: rgb(212, 75, 54);
  }
  &::after{
      width: 2rem;
      height: 2rem;
      position: absolute;
      content: '';
      background: url(../../img/str-right.svg) no-repeat center center;
      right: 1.2rem;
      top: 1.2rem;
  }
}
@mixin filter-button-active{
  background-color: rgba(197, 55, 32, 1);
  &::after{
      background: url(../../img/str-bottom.svg) no-repeat center center;;
  }
}
.filter {
  min-width: 264px;
  max-width: 264px;
  color: #fff;
  
}
.filter__category-list{
  background-color: black;
  padding-top: 5px;
  border-top: 3px solid rgba(197, 55, 32, 1);
  padding-bottom: 24px;
  margin-bottom: 8px;
  width: 100%;
}
.filter__category-item{
  position: relative;

}

.filter__category-button {
  display: block;
  @include filter-button()
}



.filter__checkbox{
  position: absolute;
  right: 15px;
  opacity: 0;
  top: 15px;

}
.filter__checkbox:checked + .filter__category-wrapper{
  .filter__category-button{
      @include filter-button-active()
  }
  .filter__drop-list{
      display: block;
      
  }
}
.filter__drop-list{
  background-color: rgba(45, 45, 45, 1);
 display: none;
 
  
}
.filter__drop-label{
  display: block;
  opacity: 0.5;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 12px;
  border-bottom: 1px rgb(255, 255, 255,0.5) solid;
  cursor: pointer;
  &:hover{
      background: #1D1D1D
  }
  
}
.filter__drop-radio{
  position: absolute;
  opacity: 0;
}
.filter__drop-radio:checked + .filter__drop-label{
  border-bottom: 1px rgb(255, 255, 255) solid;
  background: #1D1D1D;
  opacity: 0.8;
}
.filter__selection{
  background: #000000;
}
.filter__selection-title{
font-size: 1.6rem;
font-style: italic;
font-weight: 400;
line-height: normal;
margin-left: 8px;
padding-top: 12px;
padding-bottom: 12px;
}
.filter__selection-label{
  display: block;
  @include filter-button()
}
.filter__selection-item-wrapper {
  background-color: #2D2D2D;
  display: none;
}
.filter__selection-checkbox{
  position: absolute;
  opacity: 0;
}
.filter__selection-checkbox:checked + .filter__selection-wrapper{
  .filter__selection-item-wrapper{
    display: block;
  }
  .filter__selection-label{
    @include filter-button-active()
  }
}
.filter__selection-info{
  font-size: 1.2rem;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 12px;
background-color: #C53720;
}
.filter__selection-buttons{
  display: flex;
  padding: 28px 12px;
  justify-content: space-between;
}
@media only screen and (max-width:645px){
  .filter{
    max-width: 100%;
    min-width: 95%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .filter__category-list{
    width: 220px;
    margin-right: 8px;
    flex-shrink: 0;
  }
  .filter__selection{
    width: 220px;
    flex-shrink: 0;
  }
}
@media only screen and (max-width:477px){
  .filter__category-list{
    width: 100%;
    margin-right: 0px;
   
  }
  .filter__selection{
    width: 100%;
    
  }
}