.navigation-status{
    padding: 16px 50px;
    background-color: #fff;
}
.navigation-status__list{
    display: flex;

}
.navigation-status__item{
    margin-right: 1.6rem;
    padding-right: 26px;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        width: 2rem;
        height: 2rem;
        right: 2px;
        top: -2px;
        background: url(../../../img/strelka.svg) no-repeat center center;
        background-size: contain;
       
    }
    &:first-child{
        .navigation-status__link{
            color: #C53720;
        }
    }
    &:last-child{
        &::after{
            display: none;
        }
    }
}
.navigation-status__link{
    font-size: 1.2rem;
    color: rgba(29, 29, 29, 1);
    font-weight: 800;
    word-wrap: break-word;
    text-transform: uppercase;
}