.product__list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 100%;
}
@media only screen and (max-width:580px){
    .product__list{
        justify-content: space-around;
        
    }
}
