.list_area{
  color: var(--color-white);
  width: 100%;
  background-color: rgb(194, 194, 194);
  font-size: 1.2rem;
}
.list{
  width: 100%;
}
.item{
  width: 100%;
}
.item_button{
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover{
    background-color: #1D1D1D;
  }
}
.active{
  background-color: var(--color-brand--2);
}
.not_active{
  background-color: black;
}
.dropdown{
  background: url(../../img/dropaft.svg);
  width: 2rem;
  height: 2rem;
  transform: rotate(90deg);
  transition: 0.1s all;
  cursor: pointer;
}
.dropright{
  @extend .dropdown;
  transform: rotate(0deg);
}