.reviews{
    padding: 8.8rem 0rem;
    background: url(../../../img/reviewsbg.png) no-repeat;
    background-size: cover;
}
.reviews__container{
    width: 90%;
    margin: 0 auto;
}
.reviews__button-wrapper{
    text-align: center;
}